.scroll_container{
    animation: slide 30s linear infinite;
    position: absolute;
}
@keyframes slide {
    0% {
      top: 0;
    }
    50% {
      top: -100%;
    }
    100% {
      top: 0%;
    }
  }