.container{
    animation: slide 30s linear infinite;
    position: absolute;
}
/* .container:hover {
    animation-play-state: paused;
} */
@keyframes slide {
  0% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}